{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container callout-container">
        <div class="row">
            <div class="col-12 mt-5">
                <div class="col-6 offset-3 col-lg-4 offset-lg-8 mt-5">
                    <div class="opaque-background my-auto px-5">
                        <h1 class="callout-header logo-font text-center pt-3 px-3">
                            THIS HOUSE SOCKS!
                        </h1>
                        <div class="callout-btn text-center my-5 pb-5">
                            <a href="" class="btn btn-callout py-3">Register Here!</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}