{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container callout-container">
        <div class="row">
            <div class="col-12 mt-5">
                <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-8 mt-5">
                    <div class="opaque-background my-auto px-5">
                        <h1 class="callout-header logo-font text-center pt-3 px-3">
                            THIS HOUSE SOCKS!
                        </h1>
                        <div class="callout-btn text-center my-5 pb-5">
                            {% if request.user.is_authenticated %}
                                <a href="{% url 'products' %}" class="btn btn-callout py-3">Get Socking</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="btn btn-callout py-3">Register Here!</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="carousel-header w-100 h3 m-0 p-3 d-flex align-items-center justify-content-center"><a class="btn-button  text-center" href="{% url 'products' %}">Socks<i class="far fa-hand-pointer"></i><small class="h6 bold ml-1"> VIEW ALL</small></a></div>
    <div class="product-row carousel">    
        {% for product in products_slider %}
            <a href="{% url 'product_detail' product.product_id %}" class="p-2 carousel-cell product-style d-flex flex-column">
                <div class="img-container p-0 d-flex justify-content-center">                    
                    <img class="img-thumbnail" src="{% get_media_prefix %}{{ product.image }}" alt="{{ product.name }}">
                </div>
                <strong class="my-2 w-100 product-name text-center mb-4">{{ product.name }}</strong>
                <div class="position-absolute">
                        <p class="my-2 bold text-dark">€{{ product.price }}</p>
                </div>
            </a>
        {% endfor %}
    </div> -->
{% endblock %}