<div class="row review-section py-4 mt-4">
    <div class="col-12 col-md-4 offset-md-2">
        <div class="product-reviews">
            <h2 class="text-uppercase text-center pb-3">Reviews</h2>
            {% for review in product.reviews.all %}
            <hr>
            <div class="single-review">
                <div class="review-heading">
                    <div class="d-flex">
                        <p class="mb-1"><i class="fas fa-user"></i> {{ review.user|upper }}</p>
                        <small class="ml-auto"><i class="fas fa-clock"></i> {{ review.date_added }}</small>
                    </div>
                    <div class="review-rating pb-4">
                         Rating: {{ review.stars }} <i class="fa fa-star"></i>
                    </div>
                    
                </div>
                <div class="review-body">
                    <p>{{ review.content }}</p>
                </div>
            </div>
            {% empty %}
                <p>Be first to review these (probably awesome) socks.</p>
            {% endfor %}
        </div>
    </div>
    <div class="col-12 col-md-5 offset-md-1">
        <h2 class="text-uppercase text-center pb-3">Write A Review</h2>
        {% if request.user.is_authenticated %}
        <form class="review-form" method="POST" action=".">
            {% csrf_token %}
            <div class="form-group">
                <textarea class="input review-input" name="content" placeholder="Your review"></textarea>
            </div>
            <div class="form-group">
                <div class="input-rating">
                    <strong class="text-uppercase">Your Rating: </strong>
                    <select name="stars">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5" selected>5</option>
                    </select><i class="fas fa-star"></i>
                </div>
            </div>
            <button class="btn btn-main">Submit</button>
        </form>
        {% else %}
            <p>Please sign in to add a review</p>
        {% endif %}
    </div>
</div>