/* --------------------------- Index --------------------------- */

.callout-container {
    height: 65vh;
    width: 100%;
    background-image: url(/media/callout-transparent.jpg);
}

.opaque-background {
    height: 100%;
    width: 100%;
    background-color: rgb(163, 161, 58, 0.8);
}

.callout-header {
    color: #700170;
    z-index: 999999;
}

.callout-btn {
    z-index: 999999;
}

.btn-callout {
    color: #fcf838;
    background-color: #700170;
    font-weight: bold;
}

.btn-callout:hover {
    color: #700170;
    background-color: #fcf838;
}

@media (min-width: 1020px) {
    .opaque-background {
        min-width: 300px;
        min-height: 300px;
    }
  }

  @media (max-width: 425px) {
    .callout-header {
        font-size: 2rem;
    }
}