html {
    height: 100%;
}

body {
    background-color: grey;
    margin-top: 170px;
    font-family: 'Noto Serif', serif;
}

header {
    background-color: yellow;
}

/* from Bulma - from code institute*/
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.main-logo-link h2 {
    font-family: 'Luckiest Guy', cursive;
    color: purple;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
/* @media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
} */

/* fixed top navbar only on medium and up */
/* @media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
} */

