<div class="row main-nav-container collapse navbar-collapse" id="main-nav">
    <div class="col-12">
        <ul class="list-inline list-unstyled text-center my-0">
            <li class="list-inline-item mx-5">
                <a class="nav-link" href="{% url 'home' %}">
                    <h4 class="my-0"><i class="fas fa-home"></i> Home</h4>
                </a>
            </li>
            <li class="list-inline-item dropdown mx-5">
                <a class="nav-link" href="#" id="products-options" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <h4 class="my-0"><i class="fas fa-socks"></i> Products</h4>
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="products-options">
                    <a href="" class="dropdown-item">Mens Socks</a>
                    <a href="" class="dropdown-item">Womens Socks</a>
                </div>
            </li>
            <li class="list-inline-item dropdown mx-5">
                <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <h4 class="my-0"><i class="fas fa-user"></i> Account</h4>
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                    {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <a href="" class="dropdown-item">Product Management</a>
                    {% endif %}
                    <a href="" class="dropdown-item">Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                    {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                    {% endif %}
                </div>
            </li>
            <li class="list-inline-item mx-5">
                <a class="{% if grand_total %}text-info font-weight-bold{% else %}{% endif %} nav-link" href="">
                    <h4 class="my-0"><i class="fas fa-cart-plus"></i>
                        {% if grand_total %}
                        ${{ grand_total|floatformat:2 }}
                        {% else %}
                        $0.00
                        {% endif %}
                    </h4>
                </a>
            </li>
        </ul>
    </div>
</div>