<div class="col-12 ">
    <ul class="navbar-nav nav-text-align" data-toggle="dropdown">
        <li class="nav-item mr-3 mb-2">
            <a href="" class="nav-link text-uppercase">Home</a>
        </li>
        <li class="nav-item mr-3 mb-2">
            <a href="" class="nav-link text-uppercase">Mens Socks</a>
        </li>
        <li class="nav-item mr-3 mb-2">
            <a href="" class="nav-link text-uppercase">Womens Socks</a>
        </li>
        {% if request.user.is_authenticated %}
        {% if request.user.is_superuser %}
        <a href="" class="dropdown-item">Product Management</a>
        {% endif %}
        <a href="" class="dropdown-item">Profile</a>
        <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
        {% else %}
        <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
        <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
        {% endif %}
    </ul>
</div>

<div class="col">
    <a href="{% url 'home' %}" class="nav-link main-logo-link">
        <h2 class="main-logo-head my-0 pl-xl-5"><strong>HOUSE OF SOCK</strong></h2>
    </a>
</div>
<div class="col">
    <a class="{% if grand_total %}text-info font-weight-bold{% else %}{% endif %} nav-link" href="">
        <h4 class="my-0"><i class="fas fa-cart-plus"></i>
            {% if grand_total %}
            ${{ grand_total|floatformat:2 }}
            {% else %}
            $0.00
            {% endif %}
        </h4>
    </a>
</div>