{% extends "base.html" %}
{% load static %}

{% block extra_title %}404{% endblock %}

{% block content%}
    <div class="container text-center cart-container">
        <div class="row">
            <div class="col-12">
                <h1 class="logo-font d-inline-block px-2 pb-2 my-5 py-5">Ooops</h1>
                <p>That's not right...</p>
            </div>
            <div class="col-8 offset-2 mt-3">
                <p>Looks like the page you're looking for does not exist.</p>
                <p>We'll look into getting it fixed, in the meantime...</p>
                <div class="my-5">
                    <p>You can return to buying cool socks right here</p>
                    <a href="{% url 'products' %}" class="btn btn-back">Buy something</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}