{% extends "base.html" %}
{% load static %}

{% block extra_title %}500{% endblock %}

{% block content%}
    <div class="container text-center">
        <div class="row">
            <div class="col-12 header-container">
                <h1 class="logo-font display-4 px-2 py-2 mt-3">Ooops!</h1>
            </div>
            <div class="col-6 offset-3">
                <img class="img-fluid error-img" src="{{ MEDIA_URL }}Image_by_ptra_from_Pixabay.jpg">
            </div>
            <div class="col-12">
                <p class="m-1">It looks like there's a problem with the page you're trying to see.</p>
                <p class="m-1">We'll look into getting it fixed, in the meantime...</p>
                <div class="my-3">
                    <p>You can return to buying cool socks right here</p>
                    <a href="{% url 'products' %}" class="btn btn-back">Keep Socking</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}