{% load static %}

<!doctype html>
<html lang="en">
    <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatable" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Rock+Salt&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/d7066448f0.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js" integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF" crossorigin="anonymous"></script>
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>House of Sock! {% block extra_title %}{% endblock %}</title>
    </head>
    <body>
        <header class="container-fluid fixed-top">
            <div id="topnav" class="row d-none d-lg-flex">
                <div class="col-8 col-xl-6 offset-2 offset-xl-3 my-auto py-2">
                    <a href="{% url 'home' %}" class="nav-link main-logo-link">
                        <h2 class="main-logo-head my-0 m-auto"><strong>HOUSE OF SOCK</strong></h2>
                    </a>
                </div>
            </div>
            <nav class="navbar navbar-expand-lg container-fluid main-nav-container">
                <div class="row ml-lg-5">
                    <div class="col-3">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="fas fa-bars"></i>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="main-nav">
                    <ul class="navbar-nav m-auto">
                        <li class="nav-item mx-5">
                            <a class="nav-link" href="{% url 'home' %}">
                                <h4 class="my-0"><i class="fas fa-home pr-1"></i> Home</h4>
                            </a>
                        </li>
                        <li class="nav-item mx-5 dropdown">
                            <a class="nav-link" href="#" id="products-options" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <h4 class="my-0"><i class="fas fa-socks pr-1"></i> Products</h4>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="products-options">
                                <a href="{% url 'products' %}" class="dropdown-item">All Products</a>
                                <a href="{% url 'products' %}?category=mens_socks" class="dropdown-item">Mens Socks</a>
                                <a href="{% url 'products' %}?category=womens_socks" class="dropdown-item">Womens Socks</a>
                            </div>
                        </li>
                        <li class="nav-item mx-5 dropdown">
                            <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <h4 class="my-0"><i class="fas fa-user pr-1"></i> Account</h4>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                                {% endif %}
                                    <a href="{% url 'profile' %}" class="dropdown-item">Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="nav-item mx-5">
                            <a class="{% if grand_total %}text-info font-weight-bold{% else %}{% endif %} nav-link" href="{% url 'view_cart' %}">
                                <h4 class="my-0"><i class="fas fa-cart-plus pr-1"></i>
                                    {% if grand_total %}
                                        €{{ total|floatformat:2 }}
                                    {% else %}
                                        €0.00
                                    {% endif %}
                                </h4>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-7 d-flex d-lg-none">
                <h3 class="logo-font"><strong>HOUSE OF SOCK</strong></h3>
            </div>
            <div class="col-2  d-flex d-lg-none">
                <a class="{% if grand_total %}text-info font-weight-bold{% else %}{% endif %}" href="{% url 'view_cart' %}">
                    <h4 class="my-0"><i class="fas fa-cart-plus"></i>
                        {% if grand_total %}
                            ${{ total|floatformat:2 }}
                        {% else %}
                            $0.00
                        {% endif %}
                    </h4>
                </a>
            </div>
            </div>
            </nav>
    
            <!-- <div class="row navbar-outer">
                <nav class="navbar navbar-expand-lg row px-0">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><i class="fa fas-bars"></i></span>
                    </button>
                    {% include 'includes/mobile-nav.html' %}
                    {% include 'includes/main-nav.html' %}
                </nav>
            </div> -->
            <div id="free-delivery-banner" class="row text-center pt-1">
                <div class="col">
                    <h4>Free delivery on all orders over €{{ free_delivery_threshold }}!</h4>
                </div>
            </div>
        </header>

        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    {% with message.level as level %}
                        {% if level == 40 %}
                            {% include 'includes/toasts/toast_error.html' %}
                        {% elif level == 30 %}
                            {% include 'includes/toasts/toast_warning.html' %}
                        {% elif level == 25 %}
                            {% include 'includes/toasts/toast_success.html' %}
                        {% else %}
                            {% include 'includes/toasts/toast_info.html' %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endif %}

        {% block page_header %}
        {% endblock %}

        {% block content %}
        {% endblock %}

        {% block postloadjs %}
        <script type="text/javascript">
            $('.toast').toast('show');
        </script>
        {% endblock %}
        
    </body>
</html>